<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
        <pre style="display: none;"><%= JSON.stringify(mData) %></pre>
        <pre style="display: none;"><%= JSON.stringify(pData) %></pre>

        <div class="fixture-list">

            <% for (var i = 0; i < mData.length; i++) { %>

                <% score = mData[i].scores.toString().split(",") %>
                <% today = Date.now(); %>
                <% rawMatchDate = new Date(mData[i].time.millis) %>

                <% if (mData[i].matchId === nextMatchId) { %>
                    <div class="fixture" data-fixture-id="<%= mData[i].matchId %>" id="nextMatch">
                <% } else { %>
                    <div class="fixture" data-fixture-id="<%= mData[i].matchId %>">
                <% } %>
                  <div class="fixture__wrap">

                    <div class="team--home">

                      <% if (today > mData[i].time.millis) { %>
                        <% if (Math.max.apply(null, score) == score[0] ) { %>
                          <div class="team team--winner" data-team-id="<%= mData[i].teams[0].id %>">
                        <% } else { %>
                          <div class="team" data-team-id="<%= mData[i].teams[0].id %>">
                        <% } %>
                      <% } else { %>
                        <div class="team" data-team-id="<%= mData[i].teams[0].id %>">
                      <% } %>

                          <div class="team__wrap">

                            <div class="team__logo team__logo--<%= mData[i].teams[0].abbreviation %>">
                              <p class="sr-only"><%= mData[i].teams[0].name %></p>
                            </div>

                            <% if (mData[i].teams[0].abbreviation) { %>
                              <p class="team__abbr"><%= mData[i].teams[0].abbreviation %></p>
                            <% } else { %>
                              <p class="team__place"><%= mData[i].teams[0].name %></p>
                            <% } %>

                          </div>

                      </div>

                      <% if (!mData[i].teams[0].id == 0) { %>
                        <div class="person">
                          <img class="person__image" src="<%= pData[(mData[i].teams[0].id)].image %>" title="<%= pData[(mData[i].teams[0].id)].person %>" alt="<%= pData[(mData[i].teams[0].id)].person %>">
                          <span class="person__tooltip"><%= pData[(mData[i].teams[0].id)].person %></span>
                        </div>
                      <% } %>

                    </div>

                    <div class="team--away">

                      <% if (today > mData[i].time.millis) { %>
                        <% if (Math.max.apply(null, score) == score[1] ) { %>
                          <div class="team team--winner" data-team-id="<%= mData[i].teams[1].id %>">
                        <% } else { %>
                          <div class="team" data-team-id="<%= mData[i].teams[1].id %>">
                        <% } %>
                      <% } else { %>
                        <div class="team" data-team-id="<%= mData[i].teams[1].id %>">
                      <% } %>

                          <div class="team__wrap">

                            <div class="team__logo team__logo--<%= mData[i].teams[1].abbreviation %>">
                              <p class="sr-only"><%= mData[i].teams[1].name %></p>
                            </div>

                            <% if (mData[i].teams[1].abbreviation) { %>
                              <p class="team__abbr"><%= mData[i].teams[1].abbreviation %></p>
                            <% } else { %>
                              <p class="team__place"><%= mData[i].teams[1].name %></p>
                            <% } %>

                          </div>

                      </div>

                      <% if (!mData[i].teams[1].id == 0) { %>
                        <div class="person">
                          <img class="person__image" src="<%= pData[(mData[i].teams[1].id)].image %>" title="<%= pData[(mData[i].teams[1].id)].person %>" alt="<%= pData[(mData[i].teams[1].id)].person %>">
                          <span class="person__tooltip"><%= pData[(mData[i].teams[1].id)].person %></span>
                        </div>
                      <% } %>

                    </div>

                    <div class="fixture__meta">

                      <div class="fixture__match-day">
                        <p class="fixture__date" data-date="<%= rawMatchDate.getTime() %>"><%= dateFormat(rawMatchDate, "dddd dS mmmm") %>, <%= dateFormat(rawMatchDate, "h:MM TT") %></p>
                        <p class="fixture__venue"><%= mData[i].venue.name %>, <%= mData[i].venue.city %>, <%= mData[i].venue.country %></p>
                      </div>

                      <div class="fixture__type fixture__type--<%= mData[i].eventPhase.replace(' ', '-').toLowerCase() %>">
                        <span><%= mData[i].eventPhase %></span>
                      </div>

                      <% if (today > mData[i].time.millis) { %>

                        <div class="fixture__score">
                          <span class="fixture__score--home" data-component="fixture__score"><%= score[0] %></span>
                          <span>&ndash;</span>
                          <span class="fixture__score--home" data-component="fixture__score"><%= score[1] %></span>
                        </div>

                      <% } else { %>

                        <div class="fixture__versus">
                            <span>v</span>
                        </div>

                      <% } %>

                    </div>

                  </div>

                </div>

            <% } %>

        </div>
        <script src="/scripts/client.js"></script>
    </body>
</html>